/**
 *   reset css
 */
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}
/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5FAE\8F6F\96C5\9ED1", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    border: 0;
    outline: none;
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; color: inherit; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}
*{ box-sizing: border-box; }

/* 浮动/清除浮动 */
.fl{ float: left; }
.fr{ float: right; }
.clearFix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearFix { *zoom:1; }


.flex {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex
}

.flex-column {
    flex-flow: column;
    -webkit-flex-flow: column
}

.flex-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap
}

.flex-item1 {
    display: block;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

html{
    height: 100%;
}
#container,
.header,
.left-nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: left .2s ease-in;
}
#container{
    z-index: 1;
}
.header.toggle{
    left: 0;
}
.left-nav.toggle{
    left: -300px;
}
.left-nav{
    float: left;
    height: 100%;
    width: 300px;
    background: #2e3d49;
    color: #ffffff80;
    overflow: hidden;
    z-index: 2;
}
.nav-title{
    line-height: 58px;
    height: 58px;
    padding-left: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #02b3e4;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.5);
    border-bottom: 1px solid #1c262f;
}
.header{
    left: 300px;
    height: 58px;
    line-height: 58px;
    background: #2e3d49;
    border-bottom: 1px solid #1c262f;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.5);
    color: #fff;
    z-index: 2;
}
.header .menu-left{
    display: block;
    padding: 0 15px;
    font-size: 34px;
    color: #02b3e4;
}
.header > a:active{
    background: #1c262f;
}
.search-box{
    padding: 5px;
    line-height: 30px;
}
.search-box > input{
    float: left;
    line-height: inherit;
    width: 220px;
    padding: 0 5px;
}
.search-box > button{
    display: block;
    line-height: inherit;
    width: 70px;
    background: #02b3e4;
    color: #fff;
    cursor: pointer;
}
.city-list > li{
    padding: 10px 20px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background .1s ease-in;
}
.city-list > li:hover,
.city-list > li.hover{
    background: #1c262f;
    box-shadow: 0 0 0 2px #02b3e4 inset;
}
@media screen and (max-width: 800px) {
    .header{
        left: 0;
    }
    .header.toggle{
        left: 300px;
    }
    .left-nav{
        left: -300px;
    }
    .left-nav.toggle{
        left: 0;
    }
}
#result{
  display: none;
}
.result{
    position: relative;
    overflow-y: auto;
    height: calc(100% - 98px);
}
.result::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
}
.result::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.result::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 5px;
    background: rgba(0,0,0,0.1);
}
.wearher{
    position: absolute;
    top: 65px;
    right: 10px;
    border: 1px solid #c6c6c6;
    z-index: 2;
    padding: 15px;
    background: #fff;
    box-shadow: 2px 2px 4px 1px #999;
    line-height: 20px;
    min-width: 200px;
}